[submodule "thirdparty/protobuf"]
	path = thirdparty/protobuf
	url = https://github.com/google/protobuf.git
[submodule "tests/Catch2"]
	path = tests/Catch2
	url = https://github.com/catchorg/Catch2.git
	branch = v2.0.1
